:root {
  --color-primary: #fff;
  --color-primary-dark: #000;
  --color-secondary: #a8cf38;
  --color-secondary-dark: #05773d;
  --color-accent: #faa61a;


  --font-primary: 'Zilla Slab', serif;
  --font-secondary: 'Archivo', sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

h1 {
  font-weight: bold;
}

body, a, blockquote, cite, q  {
  font-family: var(--font-primary);
}

a, blockquote, cite, q {
  text-decoration: none;
  color: var(--color-accent);
}

mark {
  background-color: var(--color-secondary);
  color: var(--color-primary-dark);
  padding: .2em;
}

ol, ul, dl {
  font-family: var(--font-primary);
  font-weight: 300;
}

dt {
  font-weight: 600;
}
