:root {
  --color-primary: #6dd6de;
  --color-primary-light: #b0f6ff;
  --color-secondary: ;
  --color-accent: #c2b3ff;
  --color-white: #fff;
  --colour-pink: #ba9bc9;

  --font-primary: 'Merriweather', serif;
  --font-secondary: 'Raleway', sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
}

h1 {
  font-weight: bold;
}

body, a, blockquote  {
  font-family: var(--font-primary);
}

ol, ul, dl {
  font-family: var(--font-primary);
  font-weight: 300;
}
