header {
  text-align: center;
  background-color: white;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: var(--color-accent);
  padding: .2rem .3rem;
  border-radius: .2rem;
}

a:focus {
  outline: 3px solid #000;
}
